.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

.nav li {
    display: inline;
}

.jumbotron {
    background-image: url('http://i.imgur.com/oDEj4bF.jpg');
    height: 500px;
}

.jumbotron h1 {
    font-size: 48px;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
}

.jumbotron .container {
  position: relative;
  top: 10px;  
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

.learn-more {
    background-color: #f7f7f7;
    padding: 10px;
}

.learn-more h3 {
    font-size: 18px;
    font-weight: bold;
}

.learn-more a {
    color: #00b0ff;
}